* {
  box-sizing: border-box;
}

body {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-size: 18px;
  font-family: 'Encode Sans Expanded', sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
}

.grid-container {
  display: grid;
  width: 100%; 
  grid-template-areas: 
  "header"
  "nav"
  "main"
  "footer";
  /* grid-template-rows: 75px 1fr 550px; */
  grid-auto-rows: minmax(55px, auto);
  grid-template-columns: 1fr; 
  grid-gap: 3px 1px;  
}

/* HEADER */
.grid-container > header {
  grid-area: header; 
  /* background-color: blueviolet; */
  /* background-color: #813772; */
  /* background-color: #778899; */
  /* background-color: #494E6B; */
  /* background-color: #155765; */
  font-family: 'Encode Sans Expanded', sans-serif;
  background-color: #00303F;
  color: white;
  padding: 10px;
  letter-spacing: 1px;  
}

/* NAV */
.grid-container > nav { 
  grid-area: nav;
 /* background-color: #7FB3D5;  */
  padding: 15px;
}

li {
  padding-left: 20px;
  float: right;
  font-size: 1.20em;
  font-weight: 600;
}

.nav-bar ul li {
  display: inline-block;
}

.nav-bar li a {
  letter-spacing: 1px;
  /* color: #333; */
  color: #d3d3d3;  
  padding: 4px 10px;
  text-decoration: none; 
  text-align: center;
}

li a:hover {
  /* color: #008F95; */
  /* color: #94618E; */
  color: #00bfff;
}

/* MAIN */
.grid-container > main {
  grid-area: main;
  background-color: tan;
  padding: 1em;
}

/* IMAGES section */
#images {
  grid-area: images;
  /* background-color: orchid; */
  display: grid;
  gap: 15px; 
  grid-template-columns: 1fr 1fr 1fr; 
} 

#images > img {
  border: 2px solid #333;
  border-radius: 5px;
  justify-self: center; 
}


/* FOOTER */
.grid-container > footer {
  grid-area: footer;
  /* background-color: #708090; */
  background-color: #080808;
  color: white; 
  font-size: 12px;
  padding: 10px;
  border-top: 1px solid #778899;
}

/* STYLES */
.center {
  text-align: center;
}

.logo-color {
  color: #00bfff;
}


/* ABOUT PAGE */
.about-main > p {
  letter-spacing: 1px;
  font-weight: 500;  
  line-height: 1.5;
}


/* CONTACT PAGE  */
form > .container-form {
  display: grid;
  display: 80%;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  justify-self: end; 
  margin: 0 auto;
}

form > .container-form button {
  /* background: #FF3B3F; */
  background: #66AB8C;
  border: 0;
  text-transform: uppercase; 
  color: white;
  font-weight: 600;
  font-size: 1.05em;
}

.container-form button:hover {
  background-color: #FF383F;
}

form > .container-style {
  box-shadow: 0 0 20px 0 #080808;
  border-radius: 5px; 
  background-color: #565656;
  color: #DCB239;
  padding: 1em;
}

form > .container-style > p {
  margin: 0;
}

.container-style > p > label{
  font-weight: bolder;
  letter-spacing: 1.5px;
  padding: 5px 0;
  display: block;
}

input[type=text], textarea, button {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.container-form input:focus {
  border: 1px solid black;
}

form > .container-form button, input, textarea {
  width: 100%;
  padding: 1em;
}

.full {
  grid-column: 1 / 3;
}

.container-form button:hover, .container-form button:focus {
  background: #FF6A5C;
  outline: 0; 
  transition: background-color .45s ease-out;  
}


/* MEDIA QUERIES */
@media (min-width: 200px) and (max-width: 767.98px){
  body {
    font-size: 16px;
  }

  #images {
    grid-template-columns: 1fr; 
    gap: 5px;
  } 

  #images img {
    width: 60%;
  }

  form > .container-form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    margin: 0 auto;
  }

  form > .container-form label {
    display: none;
  }

  input[type=text], textarea {
    padding: 12px;
    margin: 4px;
  }    

  form > .container-form button, input, textarea {
    width: 100%;
    padding: 1em;
  }
}

@media (min-width: 768px) and (max-width: 991.98px){
  body {
    font-size: 1.10em;
  }
  #images {
    grid-template-columns: 1fr 1fr;
  }
  
  #images img {
    width: 85%;
  }

  form > .container-form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    margin: 0 auto;
  }
  
  form > .container-form label {
    display: none;
  }

  input[type=text], textarea {
    padding: 12px;
    margin: 4px;
  }    

  form > .container-form button, input, textarea {
    width: 100%;
    padding: 1em;
  }

  form > .full {
    grid-column: 1/3;
  }
} 